<div id="comment" class="append-bottom ui-widget-content normal-pad">
  <% if !comment.nil? %>
    <div>
      <span class="small"><%= "Posted By #{comment.user.username}" %>

        <% if @vote_topic%>
          <% what = @vote_topic.what_user_voted_for(comment.user) %>
          <%= "(Voted for - #{what})" if !what.nil? %>
        <% end  %>
      </span>
      <hr/>
      <p>
        <%= comment.body %>
      </p>
    </div>
  <% end  %>
</div>