<div id="comment" class="append-bottom ui-widget-content normal-pad">
  <% if !comment.nil? %>
    <div>
      <div class="span-5 last bottom-mar">
        <div id="user_image" class="user-image"><%= get_user_icon(comment.user)%></div>
        <div class="user-info">
          <span><%= comment.user.username %></span>
          <span>(<%= comment.user.voting_power %>)</span>
        </div>
      </div>
      <hr/>
      <p>
        <%= comment.body %>
      </p>
    </div>
  <% end  %>
</div>