<div id="comment" class="append-bottom ui-widget-content normal-pad">
  <% if !comment.nil? %>
    <div>
      <ul class="sidebox-list-inline profile-list-avataar">
       <%= get_user_icon_image_link(comment.user) %>
      </ul>
      <hr/>
      <p>
        <%= comment.body %>
      </p>
    </div>
  <% end  %>
</div>