<div id="comment" class="comment append-bottom ui-widget-content normal-pad">
  <% if !comment.nil? %>
    <%= render :partial => "/shared/ubox", :locals => {:user => comment.user} %>
      <%= RedCloth.new(comment.body).to_html %>
    <% if current_user %>
      <div class="clear" id="">
        <% if CommentLike.liked_by? current_user, comment.id %>
          <span class="small  clike unlikeme" id="commentlike_<%= comment.id %>" onClick="likeComment($(this).attr('id'))">
            <span class="ui-icon ui-icon-heart"></span>UnLike</span>
        <% else %>
          <span class="small clike likeme" id="commentlike_<%= comment.id %>" onClick="likeComment($(this).attr('id'))">
            <span class="ui-icon ui-icon-heart"></span>Like</span>
          <% end  %>
      </div>
    <% end  %>
  <% end  %>
</div>