<div id="comment" class="comment append-bottom ui-widget-content normal-pad">
  <% if !comment.nil? %>
    <ul class="comment-list">
      <li class="go_left right-mar right-pad right-border">
        <%= render :partial => "/shared/ubox", :locals => {:user => comment.user} %>
      </li>
      <li style="display:inline">
        <div>
          <%= h comment.body %>
        </div>
      </li>
    </ul>
  <% end  %>
</div>