<p>
  Thank you for creating a <%= @site_name %>  account. Click below to activate your account
<%= @account_activation_url %>
if the above url does not work, try copying and pasting it into your Browser location box.
</p>

<p>
  If you continue to have problems please contact us at <%= @email %>
</p>

- The @site_name team

