<html>
  <head>
    <title>

    </title>
  </head>
  <body>
    <p>
      Thank you for creating a <%= @site_name %>  account. Click below to activate your account
      <%= @account_activation_url %>.

      <b>You can not use your account to login until your account is activated.</b>
      if the above url does not work, try copying and pasting it into your Browser location box.
    </p>

    <p>
      If you continue to have problems please contact us at <%= @email %>
    </p>

    - The <%= @site_name%> team


  </body>
</html>
