<html>
  <head>
    <title>Daily update from <%= @site_name  %></title>
  </head>
  <body>
    <% if @vts && @vts.size > 0 %>
      <p>
        Here are some interesting votes.
      </p>
      <br/>
      <table class="" id="">
        <% @vts.each do |v| %>
          <tr>
            <td>
              <%= link_to v.header, scoped_vote_topic_url(v.category, v, :host => @site_host) %>
            </td>
          </tr>
        <% end  %>
      </table>
    <% end  %>
    <br/>
    <% if @l_vts && @l_vts.size > 0 %>
      <p>
        Here are some interesting votes in your local area.
      </p>
      <table class="" id="">
        <% @l_vts.each do |v| %>
          <tr>
            <td>
              <%= link_to v.header, scoped_vote_topic_url(v.category, v, :host => @site_host) %>
            </td>
          </tr>
        <% end  %>
      </table>
    <% end  %>
  </body>
</html>