.ui-icon
{
    display: inline-block !important;
}
.ui-tabs .ui-tabs-hide {
    display: none;
}
div.pagination {
    margin:1em 7px 1em 0;
    padding:2px;
}
div.pagination a {
    background-color:#f6f6f6;
    color:#38385c;
    margin:2px;
    padding:0.5em 0.64em 0.43em;
    text-decoration:none;
}
div.pagination a:hover, div.pagination a:active {
    background-color:#38385c;
    color:#FFFFFF;
    margin:2px;
    padding:0.5em 0.64em 0.43em;
}
div.pagination span.current {
    background-color:#ffffff;
    color:#ff0084;
    border:1px solid #dddddd;
    margin:2px;
    padding:0.5em 0.64em 0.43em;
}
div.pagination span.disabled {
    display:none;
}
.center {
    text-align:center;
}
.t-l {
    text-align:left;
}
.bld {
    font-weight:bold;
}
.point_green {
    color:#17AD2B !important;
}
.border-less {
    border:medium none;
}
.border-less td, th {
    border:medium none;
}
.right {
    float:right;
}
.bordered {
    border-right: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
}
.full-bordered {
    border :1px solid #dddddd;
}
table.borderless {
    border:medium none;
}
table.borderless td {
    border:medium none;
}
table.borderless th {
    border:medium none;
}
table.borderless tr {
    border:medium none;
}
.crumb {
    margin:.5em 0 .5em 0;
}

.crumb a {
    color:#38385c;
    /*text-decoration:underline;*/
}
.normal-pad {
    padding:.4em;
}
.go_left {
    float:left;
}
.go-right {
    float:right;
}
.bot {
    float:right;
}
#pic_loading_g {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent url(/images/progress.gif) no-repeat scroll center center;
    height:24px;
}
.progress {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent url(/images/progress.gif) no-repeat scroll center center;
    height:24px;
    margin:auto;
    width:50%;
    z-index:200;
}
#com_prog_loading {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent url(/images/progress.gif) no-repeat scroll center center;
    height:24px;
    margin:auto;
    width:50%;
    z-index:200;
}
.content_header {
    position:relative;
}
.content_container {
}
.nav_container {
    border-bottom:1px solid;
    border-top:1px solid;
    margin-top:1em;
    padding-top:5px;
    vertical-align:bottom;
}
body {
    font-family:sans-serif,"Helvetica Neue",Arial,Helvetica, !important;
}
.push {
    clear:both;
    height:20em;
}
body a.action_link {
    color:#22D1E6;
    font-weight:bold;
    text-decoration:none;
}
.special_link {
    color:#C70A95 !important;
    /*font-size:1.2em;*/
    font-weight:bold;
}
.special_link_small {
    color:#C70A95 !important;
    font-size:0.5em;
    font-weight:bold;
    margin-left:0.2em;
}
.special_link_big {
    color:#C70A95 !important;
    font-size:2em;
    font-weight:bold;
}

body a {
    color:#598F49;
    font-weight:bold;
    text-decoration:none;
}
body a:hover {
    color:#6FA85E !important;
}
.header a:hover {
    color:#86B96A;
}
.header_links li {
    display:inline;
    padding:0 0.5em;
}
.header_links_div div {
    text-align:right;
}
.header_links_div ul {
    margin-right:0;
    padding-left:0;
}
.header_txt {
    display:block;
    margin:0;
    padding-top:0.1em;
}
.page-header-content {
    margin-bottom:1em;
    margin-top:1em;
}
.page-header-content h5 {
    text-align: center;
    margin:0.5em 0 0.5em 0.5em;
    color:white;
    font-weight: bold;
    font-size:1.2em;
}
.small-button {
    font-size: .8em;
}
.logo_link {
    color:white !important;
}
.logo_link:hover {
    color:#86B96A !important;
}
.logo_msg {
    color:#598F49;
    display:block;
}
.header_logo_div {
    color:black;
}
.header_links {
    display:inline;
    overflow:hidden;
    white-space:nowrap;
}
.login_links_div {
    border-top:0.2em solid #13F08C;
    text-align:right;
}
.login_links {
    display:inline;
    overflow:hidden;
    white-space:nowrap;
}
.login_links li {
    display:inline;
    padding-left:5px;
}
.main_links_div ul {
    display:inline;
    margin-bottom:0 !important;
    padding-left:0;
    white-space:nowrap;
}
.main_links_div li a {
    padding:0.5em 0.8em;
    font-size:1.2em;
}
.main_links_div li a:hover {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#38385c none repeat scroll 0 0;
    font-weight:bold;
}

.hover-nav {
    background:#38385c none repeat scroll 0 0;
    color:white !important;
}
.selected a {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#38385c none repeat scroll 0 0;
    color:white !important;
    font-weight:bold;
}
.main_links_div li {
    display:inline;
}
.main_links_div {
    background-color:white;
    margin-bottom:0.4em;
    vertical-align:baseline;
}
.content_container {
    background-color:white;
}
.content {
    background-color:white;
    margin-right:0;
}
.clearfix:after {
    clear:both;
    content:".";
    display:block;
    height:0;
    visibility:hidden;
}
.innertube {
    margin:5px 10px 10px;
}
.right_nav {
    background-color:white;
    margin-bottom:1em;
    padding-left:0.5em;
}
.right_nav_links li {
    display:inline;
}
.right_nav_links {
    display:inline;
    white-space:nowrap;
}
.left_nav {
    background-color:purple;
}
.left_nav_links li {
    display:inline;
}
.let_nav_links {
    display:inline;
    white-space:nowrap;
}
.left_links li {
    display:inline;
}
.footer {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#38385c none repeat scroll 0 0;
    height:10em;
    padding:4em 0 0;
    text-align:center;
}
.footer_links {
    display:inline;
    overflow:hidden;
    white-space:nowrap;
}
.footer_links li {
    display:inline;
}
.footer a {
    color:#8F8F8F;
    padding:0 0.4em;
    text-decoration:none;
}
.fieldWithErrors {
    background-color:red;
    display:inline;
    padding:2px;
}
.form_label {
    color:#222222;
}
.top-pad {
    padding-top:0.5em;
}
.top-mar {
    margin-top:0.5em;
}
.left-pad {
    padding-left:0.5em;
}
.right-pad {
    padding-right:0.5em;
}
.bottom-pad {
    padding-bottom:.5em;
}
.bottom-mar {
    margin-bottom:0.5em;
}
.left_mar_small {
    margin-left:0.5em;
}
.right-mar {
    margin-right:1.5em;
}
.right_mar_small {
    margin-right:0.5em;
}
.left_mar_med {
    margin-left:1em;
}
.space-top {
    margin-top:0.5em;
}
.img_div {
    overflow:hidden;
}
.xlrg_a {
    color:#CE0E52;
    font-size:3em;
}
.xlrg {
    font-size:3em;
}
.lrg {
    font-size:1.2em;
}
.big {
    font-size:1.1em;
}

.small {
    font-size:.8em;
}
.tiny {
    font-size:0.5em;
}
.special-text {
    color:#F5722C !important;
}
img.ui-icon {
    display:inline;
    height:16px;
    position:relative;
    width:16px;
}
.list_no_pad_no_style {
    list-style-type:none;
    padding:0;
}
.list_no_pad_no_style li {
    padding:.2em;
    margin-bottom: 1em;
}
.list-no-pad-no-style-close {
    list-style-type:none;
    padding:0;
}
.list-no-pad-no-style-close li {
    padding:.2em;
    margin-bottom: .3em;
}
.list-icon {
    float:left;margin: 0 .3em 0 0
}
.ad_holder_list {
    list-style-type:none;
    margin:0;
    padding:0;
}
.ad_placeholder {
    background-color:#AB9D9D;
    padding-top:10em;
    text-align:center;
}
.chart-container {
}
.topic-header {
    /*color:#E80C7A;*/
    color:#F5722C;
}
.chart-box {
    border:2px solid #38385c;
    margin-right: 1.5em;
}
.chart-control {
    margin: auto
}
.sidebox-list {
    margin-right:0;
}
.sidebox-list-inline li {
    margin-right:.1em;
    display: inline;
}
.slide-progress {
    background-color:black;
    margin:0.5em auto;
}
.left {
    float:left;
}
.right-button {
    background-image:url(/images/right-arrow.png);
    right:1px;
}
.left-button {
    background-image:url(/images/left-arrow.png);
}
.slideshow {
    overflow:auto;
    position:relative;
}
.so-med {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent url(/images/somed.png) no-repeat scroll center center;
    overflow:hidden;
    padding-left:30px;
}
.fb-icon {
    background-position:-1px -2px;
}
.tw-icon {
    background-position:-1px -20px;
}
.dig-icon {
    background-position:-1px -40px;
}
.del-icon {
    background-position:-1px -56px;
}
.link-with-gicon {
    padding:1em 1em 1em 20px;
    position:relative;
    text-decoration:none;
}
.link-with-icon {
    padding:0.4em 1em 0.4em 20px;
    position:relative;
    text-decoration:none;
}
.link-with-icon span.ui-icon {
    left:0.2em;
    margin:-8px 5px 0 0;
    position:absolute;
    top:50%;
}
.search-term {
    padding:1px 0 4px 0;
    width:194px;
}

.div-search-form input[type="text"] {
    margin-bottom:0;
    margin-top:0;
}

#comment_form textarea {
    height:100px;
    width:678px;
    border:2px solid #dddddd;
}
/*#comment_form textarea:focus {
    border:2px solid #38385c;
}
*/

input[type=text]:focus, input[type=password]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus {border:2px solid #38385c !important}

/**Icons **/
/*.cui-icon-add-vote { background-position: 0 0; width: 16px; height: 16px; }
.cui-icon-ex { background-position: 0 -21px; width: 16px; height: 16px; }
.cui-icon-group { background-position: 0 -42px; width: 16px; height: 16px; }
.cui-icon-mvw { background-position: 0 -63px; width: 16px; height: 16px; }
.cui-icon-mw { background-position: 0 -84px; width: 16px; height: 16px; }
.cui-icon-pie { background-position: 0 -105px; width: 16px; height: 16px; }
.cui-icon-rep { background-position: 0 -126px; width: 16px; height: 16px; }
.cui-icon-star { background-position: 0 -147px; width: 16px; height: 16px; }
.cui-icon-ug { background-position: 0 -168px; width: 16px; height: 16px; }

.cui-icon {
   background: transparent url(/images/normal.png) no-repeat top left;
}*/
/*.cui-icon { width: 16px; height: 16px; background-image: url(/images/normal.png) no-repeat top left; }*/
/*.ui-widget-content .cui-icon {background-image: url(/images/normal.png); }
.ui-widget-header .cui-icon {background-image: url(/images/normal.png); }
.ui-state-default .cui-icon { background-image: url(/images/normal.png); }
.ui-state-hover .cui-icon, .ui-state-focus .cui-icon {background-image: url(/images/ff.png); }*/

/** end Icons**/

.profile-list 
    list-style-type: square;
}
.profile-list li {
    margin-bottom: 1.5em;
}
.profile-image {
    /*border: 1px solid;*/
    height: 32px;
    width:32px;
}

.category-list {
    float: left;
    margin:0 0 0 .4em;
    text-align: left;
    width: 234px; /* This width should be #list width divided by number of columns */
    padding: 0;
    list-style: none;
}

.category-list li {
    margin: 0;
    padding: 5px 0;
}

.clear {
    clear: both;
}

.category-menu-div {
    display: none;position:absolute;z-index: 190;text-align: left;background-color: #38385c;

}
.category-menu-div a {
    color:white;
}

.profile-list-avataar {
    margin-bottom:0;
    padding-left:0;
}

.tag {
    color:#598F49 !important;
}