
#textile-toolbar-comment_body {
    display: none;
}
.comment-body p {
    /* The following styles prevent unbroken strings from breaking the layout */
    overflow: auto;
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap; /* HP printers */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word; /* IE */
    /*  -moz-binding: url('xbl.xml#wordwrap');  Firefox (using XBL) */
}

#recaptcha_widget_div {
    background-color: #ffffff !important;
}
.t-trigger {
    cursor:pointer;
}
.form-header {
    background-color: #282842;
    font-weight:bold;
    color:#ffffff;
}
.generic-bg {
    background-color: #EDEFF4;
}

.standard-border {
    border:1px solid #282842;
}
.regular-button:hover {
    /*    background: #f6f6f6 url(images/ui-bg_flat_0_282842_40x100.png) 50% 50% repeat-x;*/
    background-color: #30304F;
    color:white;
}
.comment p {
    margin-bottom: 0;
}
.normal {
    color:#43444A !important;
}
.dotted-bottom {
    border-bottom: 1px solid #dddddd;
}
.generic-overlay {
    display:none;
    width:450px;
    border:10px solid #666;
    /*    border:10px solid rgba(82, 82, 82, 0.698);*/
    border:10px solid rgba(82, 82, 82, 0.698);
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
    z-index: 15;
}

.follow-container {
    border-top:  1px dotted #dddddd;
    padding-bottom: .5em;
    padding-top: .5em;
    margin-bottom: .5em;
    margin-top:.4em;
}
.home-info h4 {
    margin:0 !important;
}
.home-links {
    margin:0 !important;
}
.main-new-vote-link {
    border-bottom:1px solid;
    padding:0.3em 0;
}
.search-button {
    /*    background-position: -160px -110px;*/
    background-position: -1px -380px;
    display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat;
    /*    background-image: url(images/ui-icons_f55c19_256x240.png);*/
    /*    background-image: url(images/ui-icons_444444_256x240.png);*/
    background-image: url(/images/sprite.png);
    float:left;
    border-left: 0 !important;
    background-color: #EDEFF4;
    width:16px;
    height:18px;
    padding:0 0 2px 0;

}
.search-term:focus{
    background-image: none;
}

.div-search-form {
    margin-right: 0;
    float:left;
    width: 230px;
    margin-top: .3em;

}
.div-search-form input[type="text"] {
    margin-bottom:0;
    margin-top:0;
    vertical-align: bottom;
    height: 18px;
    padding:1px 5px 1px 10px;
    border: 0 !important;
    float:left;
    background-image: url(images/ui-bg_flat_0_edeff4_40x100.png);
    width:189px;
    border:0;
    font-size:.9em;
}

.main-header {
    top:0;
    left:0;
    width:100%;
    background-color: #282842;
    color:white;
}
.vp-pad {
    padding-top:3px !important;
    padding-bottom: 3px !important;
    padding-right:0px !important;
    padding-left:0px !important;
}
.sidebox-list > li > a {
    /*    color:#356AA0 !important;*/
    color:#255280 !important;
    font-weight: bold;
    /*    font-weight:bold;*/
}
.stat-number{
    color:#255280;
    font-weight: bold;
}
.stat-list li {
    font-size:1.2em;
}
.preference-list li label {
    font-weight:normal;
}
.interests-table td label {
    font-weight:normal;
}
.highlighted {
    color:#F55C19 !important;
    font-weight: bold !important;
}

.r-t-a {
    text-align: right;
}
.l-t-a {
    text-align: left;
}
.c-t-a {
    text-align: center;
}
.nbm {
    margin-bottom: 0 !important;
}
.count-in-tab {
    padding:0 .2em 0 .2em;
    margin-left:.2em;
}
.ui-state-active .count-in-tab {
    background-color:#F5722C !important;
    color:white;
}
.ui-state-default .count-in-tab {
    background-color:#38385C;
    color: white;
}


.white {
    color:white;
}
.form-section-label {
    border-bottom: 1px solid #dddddd;
    color:#598F49;
    margin-bottom: .5em;
}
.act {
    background-color: #282842;
    color : white !important;
    border-bottom: 1px solid white !important;
    border-right: 1px solid white !important;
}
.pres-nav-menu {
    color: #F2E9E9;
    border-bottom: 1px solid #F2E9E9;
    font-weight: bold;
    font-size : 1.6em;
}

.act a {
    color: white !important;

}
.inact a {
    color: #F2E9E9 !important;
    font-weight: bold;
    font-size : 1.6em;
}
.points li {
    font-weight: bold;
    /*    color:white;*/
    font-size: 1.1em;
    margin-bottom: .6em;
}
.points li > a {
    /*    color:white !important;*/
    /*    text-decoration: underline;*/
}
.no-bord {
    border-right: none !important;
}
.pres-nav {
    /*    border-bottom: 1px solid white;*/
    width:100%;
    table-layout: fixed;
}
.pres-nav-menu {
    width:33%;
    padding : .6em;
    text-align: center;
}


.inv {
    display: none;
}
.vsb {
    display: block;
}
.flash_overlay_message {
}

.simple_overlay {
    display:none;
    background-color: #ffffff;
    z-index:10;
    width:946px;
/*    min-height:300px;*/
    border:2px solid white;
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
    border:10px solid #666;
    border:10px solid rgba(82, 82, 82, 0.698);
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
}

.contentWrap form.formtastic fieldset ol li {
    margin-bottom: .5em !important;
}
.contentWrap {
    font-size :.9em !important;
}
.form-wrapper {
    padding: .2em .2em .2em .7em;
}
.new-vote-overlay {
    z-index:100;
    height:350px;
    display:none;
    width:600px;
    /*    padding:.5em;*/
    /*    background-color: #38385C;*/
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
    border:10px solid #666;
    border:10px solid rgba(82, 82, 82, 0.698);
    -moz-border-radius:8px;
    -webkit-border-radius:8px;

}
.contentWrap {
    overflow-y:auto;
    height:350px;

}
/*#vote_overlay .close {
    background:transparent url(/images/sprite.png) no-repeat scroll center center;
    background-position: 1px -188px;
    position:absolute;
    right:-25px;
    top:-25px;
    cursor:pointer;
    height:35px;
    width:35px;
}*/
/**new vote overlay  end**/
/* close button positioned on upper right corner */
.simple_overlay .close {
    background:transparent url(/images/sprite.png) no-repeat scroll center center;
    /*    background-position: 1px -188px;*/
    position:absolute;
    right:-11px;
    top:-10px;
    cursor:pointer;
    height:18px;
    width:18px;
    background-position: 1px -504px;
    background-color:#282842;
    border:2px solid #c2c2c6;
}
.simple-flash-overlay .close {
    background-image:url(/images/close.png);
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
}

body a {
    /*    color:#598F49;*/
    color:#255280;
    outline:none;

    /*    font-weight:bold;*/
    text-decoration:none;
}

.closeb {
    background-image:url(/images/close.png);
    padding-right: 35px;
    padding-top: 35px;
    cursor:pointer;
}


/****************for sticky footer ********************/
html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}
* {
    margin: 0px;
}

#main_container {
    min-height: 100%;
    height: auto !important;
    height/**/: 100%; /* for IE6 */
    background-color: #ffffff;
    margin-top:.5em;
}

.footer {
    margin-top: -120px;
    background:#282842 none repeat scroll 0 0;
    height:160px;
    position: relative;
    clear:both;
    text-align: right;
}
.content_container {
    padding-bottom: 120px;
    background-color:white;
}

.footer_links {
    padding-top: 1em;
    padding-left: 0;
    white-space:nowrap;
    list-style-type: none;
    margin-right:0 !important;
    /*    float:right;*/
}
.footer a {
    color:white;
    text-decoration:none;
}

/*********************** end sticky footer *******************/
.flash-error{
    background:#4F0A0A;color:#ffffff;border-color:#4F0A0A;
}
.flash-notice {
    /*    background:#A89645;color:#ffffff;border-color:#8E7F3B;*/
    background:#EDEFF4;color:#282842;border-color:#DCE0E8;
}
.flash-success{
    /*    background:#8A9E37;color:#ffffff;border-color:#69782C;*/
    background:#49753B;color:#ffffff;border-color:#69782C;
}
#close_flash {
    cursor:pointer;
    margin-right: 1em;
    margin-left: 1em;
}

#flash_messages_content {
    padding-top:  .5em;
    padding-bottom: .5em;
    font-size:1.2em;
    /*    border-bottom: 2px solid red;*/
    font-weight: bold;
}
#flash_messages_container {
    position: fixed;
    overflow-y:hidden;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 400;
}
.order-link span.current {
    background-color:#ffffff;
    color:#F5722C;
    border:1px solid #dddddd;
    margin:2px;
    padding:0.5em 0.64em 0.43em;
}
.order-link a {
    background-color:#f6f6f6;
    color:#38385c;
    margin:2px;
    padding:0.5em 0.64em 0.43em;
    text-decoration:none;
}

.order-link a:hover, .order-link a:active {
    background-color:#38385c;
    color:#FFFFFF;
    margin:2px;
    padding:0.5em 0.64em 0.43em;
}
.vam {
    vertical-align: middle;
}
.left-mar {
    margin-left: .5em;
}
.left-pad {
    padding-left :.5em !important;
}
#vote_items_list_unvoted li:hover {
    border-bottom: 1px solid #EDEFF4;
}
.vi-list {
    /* border: 1px solid #dddddd;*/
    padding:.3em;
    list-style-type:none;
    margin-bottom: 0;
}

.vi-list-voted {
    padding:.3em;
    list-style-type:none;
    margin-bottom: 0;
}
.vi-list-voted li {
    padding:.2em .2em .5em .2em;
}
/*.ui-state-normal .ui-icon { background-image: url(images/ui-icons_666666_256x240.png) !important; }*/
.ui-widget-vote-preview {
    /*    border-top:1px solid #dddddd;*/
    border-bottom:1px solid #dddddd;
}


.vote-info-table-top {
    margin-bottom: 0;
    table-layout: fixed;
}
.vote-info-table-top td {
    padding:0;
    vertical-align: bottom;
}
.vote-info-table {
    margin-bottom: 0;
}
.vote-info-table-show {
    margin-bottom: 0;
    padding-top:.1em;
    border-top: 1px solid #dddddd;
}
.vote-info-table-show td {
    vertical-align: top;
}

.rounded-corners {
    -moz-border-radius : 4px;
    -webkit-border-radius: 4px;
}
.clike {
    cursor:pointer;
}
.tracking-count {
    cursor: pointer;
}
.form-hint {
    margin-left: 25% !important;
    font-size:.8em;
}
.no-pad {
    padding:0;
}

.tooltip {
    background-color: black;
    display:none;
    font-weight: normal !important;
    /*    width:160px;*/
    padding:10px;
    font-size:.8em;
    z-index: 10;
    color:white;
    text-align: left;
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
    -moz-border-radius : 4px;
    -webkit-border-radius: 4px;
}
.tooltip-arrow{
    background-image:url(/images/sprite.png);
    position:absolute;
    left:50%;
    bottom:-10px;
    height:16px;
    width:16px;
    background-position: 1px -76px;
}
.close-btn {
    background-position:1px -45px;
    padding-right: 16px;
}
.tooltip a {
    color:#8A9E37 !important;
}
#content {
    /*    border-top:1px solid #dddddd;*/
}
.preview-table {
    margin-bottom: 0;
}
.preview-table td {
    vertical-align: top;
}
.right-border {
    border-right: 1px solid #dddddd;
}

.preview-box-left {
    width:200px;
    max-width: 200px;
}
table.vote-preview {
    margin-bottom: 0;
    border-bottom: 4px solid #dddddd;
}
.val {
    vertical-align: top;
}
td.top-al {
    vertical-align: top;
}
blockquote {
    background:transparent url(http://www.facebook.com/images/start_quote_small.gif)
        no-repeat scroll -1px 0;
    line-height:2.2em;
    margin:0 .5em 0 .5em !important;
    padding:0 0 0 16px;
}
blockquote.preview {
    background:transparent url(http://www.facebook.com/images/start_quote_small.gif)
        no-repeat scroll -1px 0;  
    line-height:2.2em;
    margin-top:0 !important;
    padding:0 0 0 16px;
}

blockquote span {
    background:transparent url(http://www.facebook.com/images/end_quote_small.gif) no-repeat scroll right bottom; padding:0 15px 0 0; }

p.preview  {
    margin:0;
}
p.preview  a {
    /*    color:#356AA0 !important;*/
    color:#255280 !important;
    font-size:1.2em;
    font-weight: bold;
    font-style: normal !important;
}
blockquote span  {
    color:#356AA0 !important;
    font-weight: bold;
    font-style: normal !important;
}
.comment-list {
    padding-left: 0;
    margin-bottom: 0;
}
.comment-list li {
    list-style-type: none;
}
.comment {
    min-height: 55px;
}

.vi-list {
    /*    border: 1px solid #dddddd;*/
    padding:.3em;
    list-style-type:none;
}


.indicator-list {
    width:90%;margin-bottom:0 !important;
    padding:0 !important;
}
.indicator-div {
    background-color:#666666;
    height:3px;
}
.vi-list li {
    padding:.2em .2em .5em .2em;
    margin-bottom: 1em;
    /*    margin-bottom: .5em;*/
}
.no-style-no-border {
    border:0 !important;
    list-style-type: none !important;
    margin-top: .5em;
}

.option-separator {
    margin-bottom:0.3em;
}
.vi {
    /*    margin-bottom:0 !important;*/
    /*    border:0 !important;*/
}

.suggestion-item a {
    color:#255280 !important;   
}
.suggestions-wrapper {
    /*    max-height: 62px;
        max-width: 267px;*/
    max-height: 102px;
    max-width: 348px;
    margin-left: 146px;
    margin-bottom: .5em;
}
.suggestions {
    overflow-y: scroll;
    max-height: 50px;
    padding :.2em;
}
.suggestions h4 {
    font-weight: bold;
}
.vote-box-small {
    margin-right:.5em;
    padding:.2em;
    background-color:#38385c;
    color:white;
    font-weight: bold;
}

.ui-icon
{
    display: inline-block !important;
}
.ui-tabs .ui-tabs-hide {
    display: none;
}
/**pagination **/
div.pagination {
    margin:1em 7px 1em 0;
    padding:2px;
}
div.pagination a {
    background-color:#f6f6f6;
    color:#38385c;
    margin:2px;
    padding:0.5em 0.64em 0.43em;
    text-decoration:none;
}

div.pagination a:hover, div.pagination a:active {
    background-color:#38385c;
    color:#FFFFFF;
    margin:2px;
    padding:0.5em 0.64em 0.43em;
}

div.pagination span.current {
    background-color:#ffffff;
    /*    color:#F5722C;*/
    color:#F5722C;
    border:1px solid #dddddd;
    margin:2px;
    padding:0.5em 0.64em 0.43em;
}
div.pagination span.disabled {
    display:none;
}
/** end pagination **/
/** profile link **/
div.profination {
    margin:1em 7px 1em 0;
    padding:2px;
}
div.profination a {
    background-color:#f6f6f6;
    color:#38385c;
    margin:2px;
    padding:0.5em 0.64em 0.43em;
    text-decoration:none;
}

div.profination a:hover, div.profination a:active {
    background-color:#38385c;
    color:#FFFFFF;
    margin:2px;
    padding:0.5em 0.64em 0.43em;
}

div.profination a.current {
    background-color:#ffffff;
    color:#F5722C;
    border:1px solid #dddddd;
    margin:2px;
    padding:0.5em 0.64em 0.43em;
}
div.profination a.disabled {
    display:none;
}
/** end profile link **/
.right {
    text-align: right;
}
.center-t {
    text-align:center;
}
.bld {
    font-weight:bold !important;
}

.bordered-all {
    border: 1px solid #dddddd;
}

.small-pad {
    padding:.2em;
}
.normal-pad {
    padding:0 .4em .4em .4em;
}
.go_left {
    float:left;
}
.go-right {
    float:right;
}
.go-left {
    float:left;
}
.rel-pos {
    position:relative;
}

.loading-inner-top {
    background:transparent url(/images/loading_big.gif) no-repeat scroll center center;
    font-size:16px;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    height:100px;
    left:40%;
    line-height:normal;
    margin-left:-50px;
    margin-top:-50px;
    overflow:auto;
    padding:10px;
    position:absolute;
    text-align:center;
    top:10%;
    width:100px;
    z-index:200;
}
.loading-link {
    background:transparent url(/images/loading-link.gif) no-repeat scroll center center;
}
.loading-small {
    background:transparent url(/images/loading.gif) no-repeat scroll center center;
    padding:0 16px 2px;
}
.loading-inner-center {
    background:transparent url(/images/loading_big.gif) no-repeat scroll center center;
    font-size:16px;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    height:100px;
    left:40%;
    line-height:normal;
    margin-left:-50px;
    margin-top:-50px;
    overflow:auto;
    padding:10px;
    position:absolute;
    text-align:center;
    top:40%;
    width:100px;
    z-index:200;
}
body {
    font-family:sans-serif,"Helvetica Neue",Arial,Helvetica !important;
    /*    color:#444444;*/
}
.push {
    clear:both;
    height:20em;
}


body a:hover {
    color:#6FA85E !important;
}

.profile-links {
    padding: 0;
}
.profile-links li {
    display:inline;
    margin-right: 1.5em;
}
.profile-links li a {
    display:inline;
    font-size:.9em;
    font-weight: bold;

}

.header a:hover {
    color:#86B96A;
}
.header_links li {
    display:inline;
    padding:0 0.5em;
}
.header_links_div ul {
    margin-right:0;
    padding-left:0;
}

.compressed-table {
    margin-bottom: 0;

}
.compressed-table td {
    padding: 0;
    vertical-align: top;
}
.small-button {
    font-size: .8em;
}

.logo_msg {
    color:white;
    /*    display:block;*/
}
.header {
    margin: 0 auto;
    background-color: #fcfcfc;
    width:950px;
    background-color: #282842;
    height:40px;
    border-bottom: 2px solid #F5722C;
}
.header_logo_div {
    color:black;
}
#profile_link {
    cursor:pointer;
}
.user-links ul {
    text-align: right;
}
.user-links ul li {
    padding :.4em;
    color:#E5E5E5;
}
.user-links ul li:hover {
    background-color:#1F1F33;
    color:#ffffff;
}
.user-links {
    width:190px;
    position:absolute;
    z-index:30;
    background-color:#282842;
    -moz-border-radius:0 0 4px 4px;
    -webkit-border-radius : 0 0 4px 4px;
}
.header_links {
    display:inline;
    overflow:hidden;
    white-space:nowrap;
    float:right;
    margin-right:0;
    margin-bottom: 0;
    width:190px;
    text-align: right;
    padding: .3em 0;
    color:#E5E5E5;
}
.header_links:hover {
    color:#ffffff;
}

.header_links_div {
    width:950px;
    float:left;
}
.logo-holder {
    float:left;
    width:130px;
}
.main-links-holder {
    float:left;
    width:630px;
}
.header_links_div li a {
    color:white;
}
.header_links_div li a:hover {
    background-color:#1F1F33;
    color:#ffffff !important;

}
.main_links_div ul {
    list-style-type: none;
    margin-bottom:0 !important;
    padding-left:0 !important;
}
.main_links_div li a {
    color:#E5E5E5;
    font-size:1.1em;
    font-weight:bold;
    margin-right:0.4em;
    padding:1em 0.2em;
    vertical-align:bottom;
    outline:none;
}
.main_links_div li a:hover {
    color:#C6D880;
    outline:none;
}

.hover-nav {
    color:#ffffff !important;
}
.selected a {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    /*    background:#38385c none repeat scroll 0 0;*/
    color:#C6D880 !important;
    font-weight:bold;
}
.main_links_div li {
    display:inline;
    float: left;
    margin-top: .2em;
}
.main_links_div {
    width:300px;
    float: left;
    margin-left: 12px;
}
.new-holder {
    width:80px;
    float: left;
    font-size: 1.1em;
    padding: .2em 0;
    font-weight:bold;
}
.content {
    background-color:white;
    margin-right:0;
}
.clearfix:after {
    clear:both;
    content:".";
    display:block;
    height:0;
    visibility:hidden;
}

.right_nav {
    background-color:white;
    /*    margin-top: .4em;*/
}



.fieldWithErrors {
    background-color:red;
    display:inline;
    padding:2px;
}
.top-mar {
    margin-top:0.5em !important;
}
.right-pad {
    padding-right:0.5em;
}
.bottom-mar-small {
    margin-bottom: .3em;
}
.bottom-mar {
    margin-bottom:0.5em;
}
.bottom-border {
    border-bottom: 1px solid #dddddd;
}
.top-border {
    border-top: 1px solid #dddddd;
}
.right-mar {
    margin-right:1.5em;
}
.right-mar-small {
    margin-right:0.5em;
}
.big {
    font-size:1.1em;
}
.large {
    font-size: 1.2em;
}
.xlrg {
    font-size: 2.5em;
}
.small {
    font-size:.9em;
}
.special-text {
    color:#F5722C !important;
}
.special-text a {
    color:#F5722C !important;
}
.list_no_pad_no_style {
    list-style-type:none;
    padding:0;
    margin-right: 0;
}
.list_no_pad_no_style li {
    padding:.2em;
    margin-bottom: 1em;
}
.list-no-pad-no-style-close {
    list-style-type:none;
    padding:0;
}
.facet-list li {
    list-style-type: disc;
    margin-bottom: .5em;
}
.list-no-pad-no-style-close li {
    padding:.2em;
    margin-bottom: .3em;
}
.list-icon {
    float:left;margin: 0 .3em 0 0
}
.ad_holder_list {
    list-style-type:none;
    margin:0;
    padding:0;
}
.ad_placeholder {
    background-color:#AB9D9D;
    padding-top:10em;
    text-align:center;
}
.sidebox-list {
    margin-right:0;
    list-style-type: none;
    padding-left: 0;
}


.sprite {
    background:transparent url(/images/sprite.png) no-repeat scroll center center;
    overflow:hidden;
}

.small-close {
    background-position: 5px -92px;
    padding-right:16px;
}
.tag {
    background-position: 1px -400px;
    padding-right:16px;
}
.white-down {
    background-position: 1px -414px;
    padding-right:16px;
    height:12px;
    width:12px;
}
.discussion-icon {
    background-position: 1px -422px;
    padding-right:16px;
    height:16px;
    width:16px;
    margin-right:4px;
}
.voter-icon {
    background-position: 1px -440px;
    padding-right:16px;
    height:16px;
    width:16px;
    margin-right: 4px;
}
.white-plus {
    background-position: 1px -488px;
    padding-right:16px;
    height:16px;
    width:16px;
    margin-right:4px;
}
.minus {
    background-position: 1px -472px;
    padding-right:16px;
    height:16px;
    width:16px;
    margin-right:4px;
}

.bold {
    background-position: 1px -106px;
    padding-right:16px;
    height:16px;
    width:16px;
}
.check {
    background-position: 1px -519px;
    padding-right:16px;
    height:16px;
    width:16px;
}
.test-close {
    background-position: 1px -504px;
    background-color:#282842;
    border:2px solid #c2c2c6;
    height:18px;
    width:18px;
}
.italic {
    background-position: 1px -122px;
    padding-right:16px;
    height:16px;
    width:16px;
}
.underline {
    background-position: 1px -139px;
    padding-right:16px;
    height:16px;
    width:16px;
}
.strikethrough {
    background-position: 1px -156px;
    padding-right:16px;
    height:16px;
    width:16px;
}
.list_numbers {
    background-position: 1px -220px;
    padding-right:16px;
    height:16px;
    width:16px;
}
.list_bullets {
    background-position: 1px -239px;
    padding-right:16px;
    height:16px;
    width:16px;
}
.paragraph {
    background-position: 1px -257px;
    padding-right:16px;
    height:16px;
    width:16px;
}
.outdent {
    background-position: 1px -274px;
    padding-right:16px;
    height:16px;
    width:16px;
}
.indent {
    background-position: 1px -292px;
    padding-right:16px;
    height:16px;
    width:16px;
}
.left {
    background-position: 1px -310px;
    padding-right:16px;
    height:16px;
    width:16px;
}
.center {
    background-position: 1px -328px;
    padding-right:16px;
    height:16px;
    width:16px;
}
.right {
    background-position: 1px -345px;
    padding-right:16px;
    height:16px;
    width:16px;
}
.justify {
    background-position: 1px -363px;
    padding-right:16px;
    height:16px;
    width:16px;
}

.logo-image {
    background-position:1px -4px;
    padding-bottom: 35px;
    width: 130px;
}
.logo {
    font-size: 2.5em;
    letter-spacing: 5px;
    font-weight: bold;
    color:white;
}
.rss-image {
    background-position:1px -45px;
    padding-right: 16px;

}
.hot-image {
    background-position:1px -86px;
    padding-right: 16px;

}


#comment_form textarea {
    height:25px;
    width:685px;
}

.dynform textarea {
    height:100px !important;
    text-align: left;
}

.regular-button {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background: #282842 url(images/ui-bg_highlight-soft_60_282842_1x100.png) 50% 50% repeat-x;
    color: white;
    margin: 0.5em 1em .5em 0;
    padding:.2em 1.2em .2em 1.2em;
    cursor:pointer;
    border:1px solid #282842;
    font-size:12px;
    overflow:hidden;
}

.regular-button-ns {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background-color: #EDEFF4;
    color:#444444;
    margin: 0.5em 1em .5em 0;
    padding:.2em 1.2em .2em 1.2em;
    cursor:pointer;
    border:1px solid #282842;
    font-size:12px;
    overflow:hidden;
}

.dynform input:focus {
    border:1px solid #38385c !important;
}
.dynform input {
    height:16px !important;
}

.dynform button {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border: 1px solid #282842;
    background-color: #282842;
    /*    font-weight: bold;*/
    color: white;
    margin: 0.5em 1em 0 0;
}
.dynform button:hover {
    background-color: #30304F;
}

input[type=text]:focus, input[type=password]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus {border:1px solid #38385c}


.flag-wrapper {
    padding: .2em .4em .1em .4em;
    background-color: #19558D;
    cursor: pointer;
    margin-right: .3em;
    margin-left: .3em;
    color:white;
    font-size:.9em;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    /*    border:1px solid #746a6a;*/
}
.profile-list {
    list-style-type: none;
    padding-left: 0 !important;

}
.profile-list li {
    margin-bottom: 1em;
}
.profile-list li {
    margin-bottom: 1.5em;
}
.vote-power-ubox {
    /*    background-color: #F5722C;*/
    /*    background-color: #0096c9;*/
    background-color: #8a9e37;
    cursor: pointer;
    color:#F0EBEB;
    text-align: center;
    padding:.1em;
    /*    border: 2px solid black;*/
}
.big-vote-power {
    padding:.2em .5em;
    background-color: #38385C;
    color:white;
    font-weight:bold;
    font-size:1.1em;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.vote-power {
    background-color: #F5722C;
    color:#F0EBEB;
    text-align: center;
    padding:.1em .2em .1em .2em;
    /*    border: 2px solid black;*/
}
.user-header li {
    margin-bottom:.2em;
}
.influence-table {
    border-bottom: 1px dotted #dddddd;
}
.influence-table td {
    border-right: 1px dotted #dddddd;
    padding-bottom: 1em;
    margin-bottom: .5em;
    text-align: center;
}
.influence-score {
    font-weight:bold;
    font-size :1.2em;
}
.user-image {
    float:left;
    overflow:hidden;
}
.profile-image {
    height: 25px;
    width:25px;
}
.profile-image-large {
    height: 50px;
    width: 50px;
}

.category-list {
    float: left;
    margin:0 0 0 .4em;
    text-align: left;
    width: 234px; /* This width should be #list width divided by number of columns */
    padding: 0;
    list-style: none;
}

.category-list li {
    margin: 0;
    padding: 5px 0;
}

.clear {
    clear: both;
}

.category-menu-div {
    display: none;position:absolute;z-index: 190;text-align: left;background-color: #282842;

}
.category-menu-div a {
    color:white;
}
.city-menu-div {
    display: none;position:absolute;z-index: 190;text-align: left;background-color: #282842;

}
.city-menu-div a {
    color:white;
}

.profile-list-avataar {
    margin-bottom:0;
    padding-left:0;
}

.tag a {
    color:#598F49 !important;
}
