
.flash-error{
    background:#6B1411;color:#ffffff;border-color:#510F0D;
}
.flash-notice {
    background:#A89645;color:#ffffff;border-color:#8E7F3B;
}
.flash-success{
    background:#8A9E37;color:#ffffff;border-color:#69782C;
}
#close_flash {
    cursor:pointer;
    margin-right: 1em;
    margin-left: 1em;
}

#flash_messages_content {
    padding-top:  .5em;
    padding-bottom: .5em;
    font-size:1.2em;
/*    border-bottom: 2px solid red;*/
    font-weight: bold;
}
#flash_messages_container {
    position: fixed;
    overflow-y:hidden;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 400;
}
.order-link span.current {
    background-color:#ffffff;
    color:#ff0084;
    border:1px solid #dddddd;
    margin:2px;
    padding:0.5em 0.64em 0.43em;
}
.order-link a {
    background-color:#f6f6f6;
    color:#38385c;
    margin:2px;
    padding:0.5em 0.64em 0.43em;
    text-decoration:none;
}

.order-link a:hover, .order-link a:active {
    background-color:#38385c;
    color:#FFFFFF;
    margin:2px;
    padding:0.5em 0.64em 0.43em;
}
.vam {
    vertical-align: middle;
}
.left-mar {
    margin-left: 18px;
}
.vi-list {
    /* border: 1px solid #dddddd;*/
    padding:.3em;
    list-style-type:none;
}

.vi-list-voted {
    padding:.3em;
    list-style-type:none;
}
.vi-list-voted li {
    padding:.2em .2em .5em .2em;
}
.ui-state-normal .ui-icon { background-image: url(images/ui-icons_666666_256x240.png) !important; }
.ui-widget-vote-preview {
    border:1px solid #ABA9A9;
    color:#444444;
}
.ui-widget-vote-preview a {
    color:#444444;
}

.vote-info-table {
    margin-bottom: 0;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.tracking-count {
    cursor: pointer;
}
.form-hint {
    margin-left: 25% !important;
    font-size:.8em;
}
.tooltip {
    /*    background-color:#38385c;*/
    /*    background-color:#444444;*/
    background-color:#f6f6f6;
    border:1px solid #fff;
    padding:10px 15px;
    /*    width:200px;*/
    display:none;
    color:#38385c;
    /*    color:#dddddd;*/
    text-align:left;
    font-size:1em;
    z-index: 10;
    /* outline radius for mozilla/firefox only */
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
}
.tooltip a {
    color:#8A9E37 !important;
}
#content {
    /*    border-top:1px solid #dddddd;*/
}
.power-points {
    /*    padding:.3em;*/
    color:#FF0084;
    height:16px;
    /*    background-color: #FF0084;*/
}
.preview-table {
    margin-bottom: 0;
}
.preview-table td {
    vertical-align: top;
}
.right-border {
    border-right: 1px solid #dddddd;
}

.preview-box-left {
    width:200px;
    max-width: 200px;
}
table.vote-preview {
    margin-bottom: 0;
}
td.top-al {
    vertical-align: top;
}
blockquote {
    background:transparent url(http://www.facebook.com/images/start_quote_small.gif)
        no-repeat scroll -1px 0;
    line-height:2.2em;
    margin:14px 0;
    padding:0 0 0 16px;
}
blockquote.preview {
    background:transparent url(http://www.facebook.com/images/start_quote_small.gif)
        no-repeat scroll -1px 0;  
    line-height:2.2em;
    margin-top:0 !important;
    padding:0 0 0 16px;
}

blockquote span {
    background:transparent url(http://www.facebook.com/images/end_quote_small.gif) no-repeat scroll right bottom; padding:0 15px 0 0; }

blockquote span a {
    color:#356AA0 !important;
    font-weight: bold;
    font-style: normal !important;
}
blockquote span  {
    color:#356AA0 !important;
    font-weight: bold;
    font-style: normal !important;
}
.comment-list {
    padding-left: 0;
    margin-bottom: 0;
}
.comment-list li {
    list-style-type: none;
}
.comment {
    min-height: 55px;
}

.vi-list {
    /*    border: 1px solid #dddddd;*/
    padding:.3em;
    list-style-type:none;
}


.indicator-list {
    width:90%;margin-bottom:0 !important;
    background-color: #dddddd;
    padding:0 !important;
}
.indicator-div {
    background-color:#666666;
    height:13px;
}
.vi-list li {
    padding:.2em .2em .5em .2em;
    border-bottom: 1px dotted #dddddd;
    /*    margin-bottom: .5em;*/
}
.no-style-no-border {
    border:0 !important;
    list-style-type: none !important;
    margin-top: .5em;
}

.option-separator {
    border-bottom:1px dotted #DDDDDD;
    margin-bottom:0.3em;
}
.vi {
    /*    margin-bottom:0 !important;*/
    /*    border:0 !important;*/
}
.suggestions {
    overflow-y:scroll;
    height:150px;
}
.suggestions h4 {
    font-weight: bold;
}
.vote-box-small {
    margin-right:.5em;
    padding:.2em;
    background-color:#38385c;
    color:white;
    font-weight: bold;
}
#tot_votes {
    margin-bottom: 1px solid;
}


.ui-icon
{
    display: inline-block !important;
}
.ui-tabs .ui-tabs-hide {
    display: none;
}
div.pagination {
    margin:1em 7px 1em 0;
    padding:2px;
}
div.pagination a {
    background-color:#f6f6f6;
    color:#38385c;
    margin:2px;
    padding:0.5em 0.64em 0.43em;
    text-decoration:none;
}
div.pagination a:hover, div.pagination a:active {
    background-color:#38385c;
    color:#FFFFFF;
    margin:2px;
    padding:0.5em 0.64em 0.43em;
}
div.pagination span.current {
    background-color:#ffffff;
    color:#ff0084;
    border:1px solid #dddddd;
    margin:2px;
    padding:0.5em 0.64em 0.43em;
}
div.pagination span.disabled {
    display:none;
}
.right {
    text-align: right;
}
.center {
    text-align:center;
}
.bld {
    font-weight:bold;
}

.bordered-all {
    border: 1px solid #dddddd;
}

.small-pad {
    padding:.2em;
}
.normal-pad {
    padding:.4em;
}
.go_left {
    float:left;
}
.go-right {
    float:right;
}
.go-left {
    float:left;
}
.rel-pos {
    position:relative;
}

.loading-inner-top {
    background:transparent url(/images/loading_big.gif) no-repeat scroll center center;
    font-size:16px;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    height:100px;
    left:40%;
    line-height:normal;
    margin-left:-50px;
    margin-top:-50px;
    overflow:auto;
    padding:10px;
    position:absolute;
    text-align:center;
    top:10%;
    width:100px;
    z-index:200;
}
.loading-link {
    background:transparent url(/images/loading-link.gif) no-repeat scroll center center;
}
.loading-inner-center {
    background:transparent url(/images/loading_big.gif) no-repeat scroll center center;
    font-size:16px;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    height:100px;
    left:40%;
    line-height:normal;
    margin-left:-50px;
    margin-top:-50px;
    overflow:auto;
    padding:10px;
    position:absolute;
    text-align:center;
    top:40%;
    width:100px;
    z-index:200;
}
.content_container {
}
.nav_container {
    overflow: auto;
}
body {
    font-family:sans-serif,"Helvetica Neue",Arial,Helvetica !important;
    color:#444444;
}
.push {
    clear:both;
    height:20em;
}

body a {
    color:#598F49;
    /*    font-weight:bold;*/
    text-decoration:none;
}
body a:hover {
    color:#6FA85E !important;
}
.header a:hover {
    color:#86B96A;
}
.header_links li {
    display:inline;
    padding:0 0.5em;
}
.header_links_div div {
    text-align:right;
}
.header_links_div ul {
    margin-right:0;
    padding-left:0;
}

.small-button {
    font-size: .8em;
}

.logo_msg {
    color:#598F49;
    /*    display:block;*/
}
.header_logo_div {
    color:black;
}
.header_links {
    display:inline;
    overflow:hidden;
    white-space:nowrap;
}

.main_links_div ul {
    list-style-type: none;
    margin-bottom:0 !important;
    padding-left:0 !important;
}
.main_links_div li a {
    padding:1em 0.8em;
    font-size:1em;
    vertical-align: bottom;
}
.main_links_div li a:hover {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#38385c none repeat scroll 0 0;
    font-weight:bold;
}

.hover-nav {
    background:#38385c none repeat scroll 0 0;
    color:white !important;
}
.selected a {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#38385c none repeat scroll 0 0;
    color:white !important;
    font-weight:bold;
}
.main_links_div li {
    display:inline;
    float: left;
    margin-top: .2em;
}
.main_links_div {
    margin-bottom:0.4em;
    margin-top:0.4em;
}
.content_container {
    background-color:white;
}
.content {
    background-color:white;
    margin-right:0;
}
.clearfix:after {
    clear:both;
    content:".";
    display:block;
    height:0;
    visibility:hidden;
}

.right_nav {
    background-color:white;
}

.footer {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    margin-top: 1em;
    background:#38385c none repeat scroll 0 0;
    height:10em;
    padding:1em 0 1em 0;
    text-align:right;
    bottom: 0;
    position: static;
    width:100%;
    left:0;
}
.footer_links {
    overflow:hidden;
    white-space:nowrap;
    list-style-type: none;
}
.footer_links li {
}
.footer a {
    /*    color:#8F8F8F;*/
    color:white;
    text-decoration:none;
    /*    font-weight: bold;*/
}
.fieldWithErrors {
    background-color:red;
    display:inline;
    padding:2px;
}
.top-mar {
    margin-top:0.5em;
}
.right-pad {
    padding-right:0.5em;
}
.bottom-mar-small {
    margin-bottom: .3em;
}
.bottom-mar {
    margin-bottom:0.5em;
}
.bottom-border {
    border-bottom: 1px solid #dddddd;
}
.right-mar {
    margin-right:1.5em;
}
.right-mar-small {
    margin-right:0.3em;
}
.big {
    font-size:1.1em;
}
.small {
    font-size:.9em;
}
.special-text {
    color:#F5722C !important;
}
.special-text a {
    color:#F5722C !important;
}
.list_no_pad_no_style {
    list-style-type:none;
    padding:0;
}
.list_no_pad_no_style li {
    padding:.2em;
    margin-bottom: 1em;
}
.list-no-pad-no-style-close {
    list-style-type:none;
    padding:0;
}
.facet-list li {
    list-style-type: disc;
    margin-bottom: .5em;
}
.list-no-pad-no-style-close li {
    padding:.2em;
    margin-bottom: .3em;
}
.list-icon {
    float:left;margin: 0 .3em 0 0
}
.ad_holder_list {
    list-style-type:none;
    margin:0;
    padding:0;
}
.ad_placeholder {
    background-color:#AB9D9D;
    padding-top:10em;
    text-align:center;
}
.sidebox-list {
    margin-right:0;
    list-style-type: none;
    padding-left: 0;
}

.left {
    float:left;
}
.sprite {
    background:transparent url(/images/sprite.png) no-repeat scroll center center;
    overflow:hidden;
}
.logo-image {
    background-position:1px -4px;
    padding-bottom: 35px;
}
.rss-image {
    background-position:1px -45px;
    padding-right: 16px;

}
.hot-image {
    background-position:1px -86px;
    padding-right: 16px;

}
.search-term {
    padding:1px 0 4px 0;
    width:194px;
}

.div-search-form {
    margin-top: .4em;
    margin-bottom: .4em;
}
.div-search-form input[type="text"] {
    margin-bottom:0;
    margin-top:0;
    vertical-align: bottom;
    height: 16px;
}

#comment_form textarea {
    height:100px;
    width:678px;
    border:2px solid #dddddd;
}

input[type=text]:focus, input[type=password]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus {border:1px solid #38385c !important}


.power-wrapper, .most-voted, .most-tracked {
    cursor: pointer;
}
.profile-list {
    list-style-type: none;
    padding-left: 0 !important;

}
.profile-list li {
    margin-bottom: 1em;
}
.profile-list li {
    margin-bottom: 1.5em;
}
.vote-power-ubox {
    /*    background-color: #FF0084;*/
    /*    background-color: #0096c9;*/
    background-color: #8a9e37;
    cursor: pointer;
    color:#F0EBEB;
    text-align: center;
    padding:.1em .2em .1em .2em;
    /*    border: 2px solid black;*/
}
.vote-power {
    background-color: #FF0084;
    color:#F0EBEB;
    text-align: center;
    padding:.1em .2em .1em .2em;
    /*    border: 2px solid black;*/
}
.user-image {
    float:left;
    overflow:hidden;
}
.profile-image {
    /*border: 1px solid;*/
    height: 50px;
    width:50px;
}

.category-list {
    float: left;
    margin:0 0 0 .4em;
    text-align: left;
    width: 234px; /* This width should be #list width divided by number of columns */
    padding: 0;
    list-style: none;
}

.category-list li {
    margin: 0;
    padding: 5px 0;
}

.clear {
    clear: both;
}

.category-menu-div {
    display: none;position:absolute;z-index: 190;text-align: left;background-color: #38385c;

}
.category-menu-div a {
    color:white;
}
.city-menu-div {
    display: none;position:absolute;z-index: 190;text-align: left;background-color: #38385c;

}
.city-menu-div a {
    color:white;
}

.profile-list-avataar {
    margin-bottom:0;
    padding-left:0;
}

.tag a {
    color:#598F49 !important;
}
