<% if current_user && current_user.friendly_id == request.parameters[:user_id] 
owner = true
 end  %>

<% if owner %>
<div class=" ui-widget-content">
  <ul class="list-no-pad-no-style-close sidebox-list widget-content" id="">
    <li class="ui-widget-header">Profile</li>
    <li class="" id="">
      Here you can change your account information.
    </li>
  </ul>
</div>


<div class="ui-widget-content prepend-top">
  <ul class="list-no-pad-no-style-close sidebox-list widget-content" id="">
    <li class="ui-widget-header">Invite Friends</li>
    <li>
      Invite your friends to join <%= APP_CONFIG['site_name'] %>!. Enter a personal message and a comma separated list of friends' emails.
    </li>
  </ul>
</div>

<div class="ui-widget-content prepend-top">
  <ul class="list-no-pad-no-style-close sidebox-list widget-content" id="">
    <li class="ui-widget-header">Tracking</li>
    <li>
      See all the votes you are tracking.
    </li>
  </ul>
</div>
<% end  %>

<!--
<div class="ui-widget-content prepend-top">
  <ul class="list-no-pad-no-style-close sidebox-list widget-content" id="">
    <li class="ui-widget-header">Votes Started</li>
    <li>
      See all the votes a user has started.
    </li>
  </ul>
</div>

<div class="ui-widget-content prepend-top">
  <ul class="list-no-pad-no-style-close sidebox-list widget-content" id="">
    <li class="ui-widget-header">Votes Posted</li>
    <li>
      See what topics a user has voted on
    </li>
  </ul>
</div>
-->