<div class="span-18 last">
  <h4 class="normal-pad ui-state-hover nbm">Edit Account</h4>
  <div class="normal-pad  generic-bg append-bottom">
    <%= render :partial => "form" %>  
  </div>

</div>


