<script type="text/javascript">
  //<![CDATA[
  $(document).ready(function(){
    $('#tabs').tabs();
  });
  //]]>
</script>
<div id="reg_tab_container" class="span-24 last">
  <div id="tabs" class="normal-pad  ui-widget-content">
    <ul>
      <li><a href="#tabs-1">Register</a></li>
      <li><a href="#tabs-2">Sign using Facebook/Google/Twitter/Yahoo account</a></li>
    </ul>
    <div id="tabs-1">
      <h4 class="ui-widget-header normal-pad">Register</h4>
      <div><%=  flash[:recaptcha_error] %></div>
      <%= render :partial => "form" %>
    </div>

    <div id="tabs-2">
      <%= render :partial => '/layouts/rpx' %>
    </div>

  </div>
</div>