<%# cache(:category_list, :expires_in => 5.minutes) do %>
<div  class=" category-menu-div span-24 last" id="cat_menu">
  <span class="go-right ui-icon ui-icon-close" id="close_cat_menu"></span>
  <hr class="clear prepend-top"/>
  <% categories = Category.all()%>
  <table class="" id="">
    <% categories.each_with_index do |c, i| %>
      <% if i == 0 || i % 5 == 0 %>
        <tr>
        <% end %>
        <td><%= link_to c.name, category_vote_topics_path(c.to_param) %></td>
        <%if (i + 1) %  5 == 0 %>
        </tr>
      <% end  %>
    <% end  %>
  </table>
  <div class=".clear"></div>
</div>
<%# end  %>