<div class="standard-border generic-bg">
<h4 class="ui-widget-header center bottom-mar" id="email_form_header"></h4>
<div class="quiet small normal-pad" id="">
  Fields marked with * are required
</div>
<div class="normal-pad center">
  <% semantic_form_for FriendInviteMessage.new, :html => {:actilaon => friend_invite_message_path(), :id => 'email_form'} do |f| %>
    <%= f.semantic_errors %>
    <% f.inputs do %>
      <%= f.input :message,:as => :text, :input_html => {:style => "width:90%;height:60px"}, :wrapper_html => {:class => "nbm "} %>
      <li class="nbm quiet small ">Enter a short message, within 250 characters.</li>
      <%= f.input :emails,  :input_html => {:style => "width:90%;height:60px"},:wrapper_html => {:class => 'bottom-border nbm '},
        :hint => "" %>
      <li class="nbm quiet small ">Enter comma separate list of emails. Like: joe@gmail.com,susan@yahoo.com</li>
      <%= hidden_field_tag  :email_type, "vote" %>
      <li class="" style="margin:1em 0 1em 0;">
        <span id="msg_submit" class="regular-button">send</span>
        <span id="overlay_close" class="regular-button">close</span>
      </li>
    <% end  %>
  <% end  %>
</div>
</div>
