<div class="generic-bg generic-overlay" id="flash_overlay" style="">
  <div class="big normal-pad l-t-a bld" id="flash_overlay_type">

  </div>
  <div class="normal-pad l-t-a bld" id="flash_overlay_message">

  </div>
  <div class="normal-pad r-t-a" style="padding-bottom:.6em;">
    <span class='regular-button' id='close_flash_overlay'>close</span>
  </div>
</div>