<div class="simple_overlay ui-corner-all" id="intro_prezo" style="width:950px;margin:0 auto;">
  <table class="pres-nav" id="">
    <tr>
      <td class="pres-nav-menu bord act">
        <a href="" class="trig" id="default_trig" rel="#what">
          What is Voteable?
        </a>
      </td>
      <td class="pres-nav-menu bord">
        <a href="" class="trig" id="" rel="#when">
          When could I use it?
        </a>
      </td>
      <td class="pres-nav-menu no-bord">
        <a href="" class="trig" id="" rel="#how">
          How do I use it?
        </a>
      </td>
    </tr>
  </table>

  <div class="normal-pad" id="wrap">
  </div>
</div>

<div class="inv" id="what">
  <h3 class="white bld center" >
    <%= t 'site_name' %> helps you get collective public opinion on anything
  </h3>
  <h4 class="center white">
    From important global events to everyday trivialities.
  </h4>
  <!--
  <h4 class="white">When you wonder..</h4>
  <ul class="points">
    <li>What do poeple think about something?</li>
    <li>What would people do if they were me?</li>
    <li>Why would people do something?</li>
    <li class="no-style-no-border right">
      <%= t 'site_name' %> can help!
    </li>
  </ul> -->
</div>

<div class="inv" id="when">
  <ul class="points" id="">
    <li>
      Anytime you want an objective yes/no type answer.
    </li>
    <li>
      When you don't want to wade through hundreds of tweets, reviews, posts and answers.
    </li>
    <li>
      When you want the opinion of people outside of your friend circle.
    </li>
    <li>
      Or for fun! When there is a bet on, When you are feeling creative and want to tickle the public mind and so on...
    </li>

  </ul>
</div>
<div class="inv " id="how">
  <ul class="points" id="">
    <li>
      Explore the collective opinion on topics posted around the world, <a href="/faq#local"> your city</a> or <a href="/faq#facebook">by your friends.</a>.
    </li>
    <li>
      <a href="/signup" class="" id="">
        Sign up
      </a>
      and start your own Vote
    </li>
    <li>
      Vote on topics others have started.
    </li>
    <li>
      <a href="/faq#engagement">Share it with your friends and Invite them to join!</a>
    </li>
  </ul>
</div>
