<div class="simple_overlay ui-corner-all" id="intro_prezo" style="width:950px;margin:0 auto;">
  <table class="pres-nav" id="">
    <tr>
      <td class="pres-nav-menu bord act">
        <a href="" class="trig" id="default_trig" rel="#what">
          What is Voteable?
        </a>
      </td>
      <td class="pres-nav-menu">
        <a href="" class="trig" id="" rel="#when">
          What can I do here?
        </a>
      </td>
    </tr>
  </table>

  <div class="normal-pad" id="wrap">
  </div>
</div>

<div class="inv" id="what">
  <h3 class="white bld center" >
    <%= t 'site_name' %> helps you get collective public opinion on anything, from important global events to everyday trivialities.
  </h3>
</div>

<div class="inv" id="when">
  <ul class="points" id="">
    <li>
      Start a vote and get a pulse of the public sentiment, the collective opinion.
    </li>
    <li>
      Vote, explain your votes and express your opinion.
    </li>
    <li>
      Get the collective opinion on things in your neighborhood or city.
    </li>
    <li>
      Share the collective opinion on things with your friends...see if they agree.
    </li>
    <li>
      Build a reputation by earning Voting Power and use it to build a following.
    </li>
    <li>
      Do some serious research about on going and upcoming trends. OR. Just have fun! Start a bet, be creative and tickle the public mind..
    </li>
    <li>
      <a href="/signup" class="" id="">
        Sign up and get started!
      </a>
    </li>
    <li>
      <a href="/faq" class="" id="">
        Learn more
      </a>
    </li>
  </ul>
</div>

