<div class="ui-widget-content simple_overlay ui-corner-all" id="intro_prezo" style="">

  <h4 class="ui-widget-header normal-pad bld center" >
    <%= t 'site_name' %> helps you get collective public opinion on anything, from important global events to everyday trivialities.
  </h4>
  <div class="normal-pad" id="">
    <div class="" id="">
      <ul class="points" id="">
        <li>
          <a href="/faq#different">Start a vote and get a pulse of the public sentiment - the collective opinion.</a>
        </li>
        <li>
          Participlate in community discussions about trends and topics.
        </li>
        <li>
          Get the collective opinion on topics in your neighborhood or city.
        </li>
        <li>
          Share the collective opinion with your friends on Facebook/Twitter...see what they think.
        </li>
        <li>
          Build influence as an active voter
        </li>
        <li>
          Do some serious research about ongoing and upcoming trends. OR. Just have fun! Start a bet, be creative and tickle the public mind..
        </li>
        <% if !current_user %>
          <li>
            <a href="/signup" class="highlighted" id="">
              Sign up and get started!
            </a>
          </li>
        <% end  %>
        <li>
          <a href="/faq" class="special-text" id="">
            Learn more
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

