<h4 class="ui-widget-header normal-pad">In a hurry? Sign in with RPX. No registration needed!</h4>
<p>RPX is a secure way of logging into Votebust using your existing Google, Yahoo, Facebook or Twitter account. After you login via RPX, your Votebust account will
  automatically be created using your Google, Yahoo, Facebook or Twitter username. If prompted, please allow Votebust to access your username and email details.</p>
<%= rpx_embed( :app_name => Constants::RPX_APP_NAME, :return_url => user_sessions_url ) %>