<% if coll_type == 'vote_topic' %>
  <%  coll.each do |item| %>
    <li><%= link_to item.header[0..Constants::SIDE_BAR_LINK_LENGTH] << "...", scoped_vote_topic_path(item.category, item) %></li>
  <% end %>
<% elsif coll_type == 'category'%>
  <%  coll.each do |item| %>
    <li><%= link_to item.name, category_vote_topics_path(item, :listing_type => "category") %></li>
  <% end %>
<% elsif coll_type == 'user'%>
  <%  coll.each do |item| %>
    <%= render :partial => '/shared/ub', :locals => {:user => item} %>
  <% end %>
<% end  %>
