<% if local_assigns[:anon].nil?
  anon = false
end %>

<div class="go-left">
  <div id="user_image" class="user-image right-mar-small go-left">
    <%= get_user_avatar_link(user, anon)%>
  </div>
  <div class="clear small center-t">
    <%= user.voting_power %>
  </div>
</div>
