<% if local_assigns[:anon].nil?
  anon = false
end %>

<div class="clear" id="">
  <div id="user_image" class="user-image right-mar-small"><%= get_user_avatar_link(user, anon)%></div>
  <div class="" id="" style="float:left">
    <% if anon %>
      <span>Anonymous</span>
    <% else %>
      <%= link_to user.username, user_path(user), :class => "clearfix bld" %>
      <span class="vote-power-ubox t-trigger" id="">
        <%= user.get_voting_power %>
      </span>
      <%= render :partial => "/shared/user_vp_tooltip", :locals => {:user => user} %>
    <% end  %>
  </div>
</div>
