<div class="clear" id="">
  <div id="user_image" class="user-image right-mar-small"><%= get_user_avatar_link (user)%></div>
  <div class="" id="" style="float:left">
    <%= link_to user.username, user, :class => "clearfix bld" %>
    <span class="vote-power-ubox" id="">
      <%= user.voting_power %>
    </span>
    <%= render :partial => "/shared/user_vp_tooltip", :locals => {:user => user} %>
  </div>
</div>
