<% if local_assigns[:first].nil? %>
  <% first = false%>
<% end  %>
<div class="<%= first == true ? '' : 'prepend-top'%>   rel-pos append-bottom" style="display:none">
  <div id="" class="widget-loading" style="display:none">
    <div class="loading-inner-center-t" ></div>
  </div>

  <a href="<%= load_path %>" class="load-widget-link" id="" style="display:none"></a>
  <div class="big bld bottom-border bottom-mar"><%= header %></div>
  <div id='<%= "widget_#{l_type}"%>'>
    
  </div>
</div>