<div class="new-vote-overlay span-12" id="vote_overlay">
  <div class="" id="form_loading" style="display:none">
    <div class="loading-inner-center-t"></div>
  </div>
  <div class="contentWrap standard-border  generic-bg" id="">
  </div>
</div>