<% if local_assigns[:first].nil? %>
  <% first = false%>
<% end  %>
<div class="span-6 last <%= first == true ? '' : 'prepend-top'%>  ui-widget-content rel-pos" style="display:none">
  <div id="" class="widget-loading" style="display:none">
    <div class="loading-inner-center" ></div>
  </div>

  <a href="<%= load_path %>" class="load-widget-link" id="" style="display:none"></a>
  <ul class="list-no-pad-no-style-close sidebox-list widget-content" id='<%= "widget_#{l_type}"%>'>
    <li class="ui-widget-header"><%= header %></li>
  </ul>
</div>