<% votes = VoteTopic.latest.descend_by_created_at.descend_by_total_votes.all(:limit => Constants::SMART_COL_LIMIT) %>
<div>
  <h4>Busted Recently</h4>
  <ul>
    <% votes.each do |v| %>
      <li>
        <%= link_to v.header, v %>
      </li>
    <% end  %>
  </ul>
</div>