<h3 class="bld" id="voting_power">Voting Power?</h3>
<div>
  Votechek encourages the community in actively participating in votes by awarding Voting Power. Voting Power allows you to create more visibility for the votes you start (see
  <a href="#featured_votes">Featured Votes</a>) and have more community users to vote on your vote topic. Of course, it builds your reputation as an active participant as well!
  Voting Power once earned don't expire!
  <ul>
    <li class="bld">How do I earn VotingPower?</li>
    <p>
      Voting power can be earned the the following ways</p>
    <ul>
      <li >By completing your registration - <span class="bld">10 Voting Power.</span></li>
      <li >By voting on a vote start by another user - <span class="bld">1 Voting Power per vote.</span> </li>
      <li >By Voting on a Featured Vote - <span class="bld">Featured votes offer more Voting Power. Look for this <span class="bld vote-power">icon</span> to see
          how many voting power a featured vote offers.</span></li>
      <li >By creating a vote that is promoted to <span class="bld"><a href="#top-trend">Top Trends</a></span> list - <span class="bld">20 Voting Power.</span></li>
    </ul>

    <li class="bld">
      How do I use VotingPower?</li>
    <p> You need to earn at least <span class="bld">50 Voting Power</span> to start using your Voting Power.
      Voting power can be used to promote your votes into the <a href="#featured_votes">Featured Votes</a> list. Featured votes appear on the home page and award more Voting
      Power to the voters. Hence they have more visibility and attract more voters.
      <br/><br/>
      While creating a vote, simply choose how much of your Voting Power you wish to give up
      for your vote to be in the Featured Vote list. The more Voting Power you offer the higher up the your vote is in the list. The Top 10 Featured Votes are displayed on the
      home page.
      <br/><br/>
      <span class="bld">For example :</span>
      <br/>
      If you offer 30 Voting Power the voters who vote on that particular vote topic will earn <span class="bld vote-power">3</span> (30 / 10) Voting Power.
      <br/><br/>
      If you offer 100 Voting Power the voters who vote on that particular vote topic will earn <span class="bld vote-power">10</span> (100 / 10) Voting Power.
      <br/><br/>
      If among all the active votes, the highest Voting Power offered is 20 and you offer 30 then your vote will be at the top of the Featured Vote list
    </p>
    <li class="bld">
      Can I loose Voting Power?
    </li>
    <p>
      Though VotingPower once earned are always there, canceling a vote results in loss of Voting Power that was acquired when you voted on a VoteTopic.
    </p>
    <li class="bld">How do I check how much Voting Power I have?</li>
    <p>
      Your earned voting power is displayed inside the VotingPower icon <span class="bld vote-power">icon</span>. You can check it in your account's page by clicking on the
      <span class="bld">Profile</span> link in the main navigation menu. It is also displayed at the toolbar the at the top of the page when you are logged it or next to your
      username at various places on Votechek (For example, in the comments section).
    </p>
  </ul>
</div>
