<h3 class="bld prepend-top" id="voting_power">Voting Power?</h3>
<div>
  <%= t 'site_name' %> encourages the community to actively participate in votes by awarding Voting Power. Voting Power allows you to create more visibility for the votes you start
  (see <a href="#featured_votes">Featured Votes</a>) and have more community users to vote on the votes you have started.
  Of course, it builds your reputation as an active participant as well!

  <ul>
    <li class="bld">How do I earn VotingPower?</li>
    <p>
      Voting power can be earned the the following ways</p>
    <ul>
      <li >By completing your registration - <span class="bld">10 Voting Power.</span></li>
      <li >By voting on a vote start by another user - <span class="bld">1 Voting Power per vote.</span> </li>
      <li >By Voting on a Featured Vote - <span class="bld">Featured votes offer more Voting Power. Look for this
          <span><span class='ui-icon ui-icon-power'></span>
            <span class='bld power-points'>X</span></span> to see
          how many voting power a featured vote offers.</span></li>
      <li>Anytime another user adds your vote to their tracking list.</li>
    </ul>

    <li class="bld">
      How do I use VotingPower?</li>
    <p> You need to earn at least <span class="bld">50 Voting Power</span> to start using your Voting Power.
      Voting power can be used to promote your votes into the <a href="#featured_votes">Featured Votes</a> list. Featured votes appear on the home page and award more Voting
      Power to the voters. Hence they have more visibility and attract more voters.
      <br/><br/>
      While creating a vote, simply choose how much of your Voting Power you wish to give up
      for your vote to be in the Featured Vote list. The more Voting Power you offer the higher up the your vote is in the list. The Top 10 Featured Votes are displayed on the
      home page.
      <br/><br/>
      <span class="bld">For example :</span>
      <br/>
      If you offer 30 Voting Power the voters who vote on that particular vote topic will earn <span class="bld vote-power">3</span> (30 / 10) Voting Power.
      <br/><br/>
      If you offer 100 Voting Power the voters who vote on that particular vote topic will earn <span class="bld vote-power">10</span> (100 / 10) Voting Power.
    </p>
    <li class="bld">
      Can I loose Voting Power?
    </li>
    <p>
      Though VotingPower once earned never expires, canceling a vote results in loss of Voting Power that was acquired when you voted on a Vote Topic.
    </p>
    <li class="bld">How do I check how much Voting Power I have?</li>
    <p>
      A voter's earned voting power is displayed inside the Voting Power icon <span class="vote-power-ubox t-trigger">icon</span>. You can also check it in your profile page.
      It is also displayed at the toolbar the at the
      top of the page when you are logged it or next to your username anywhere it appears.
    </p>
  </ul>
</div>
