<div class="normal-pad prepend-top medium faq">
  <h3 class="bld" id="what_is">What is <%= t 'site_name' %>?</h3>
  <div>
    Votecheck is a community for gathering collective opinion and trend the the public voice on any topic. Whether it's a global event, a local issue or simply something that
    makes you wonder <em>"What do people think?"</em>.
  </div>
  <h3 class="bld" id="get_started">How do I get started?</h3>
  <div id="signup">
    Simply <a href="signup">Sign up</a> and open a account. You will be ready to start votes and vote on topics others have started.
    <br></br>
    There are two options for signing up.
    <ul>
      <li>
        <span class="bld">Create an account with Votechek.</span>
        <p>With this option you can create a username and password that you will use for logging into Votechek. This options requires you to validate the account. The validation
          is done by sending you an email to the email id provided during the registration process. Once the account is validated it is active and you can login to Votechek.
        </p>
      </li>
      <li>
        <span class="bld">Use an account with an Open-ID provider like Google, Facebook, Twitter or Yahoo.</span>
        <p >
          If you have an account with any of the above mentioned websites you can use that login information to securely login to Votechek. This is a quick way signing up without
          having to remember another username and password combination. If you use this option, you will be prompted by the Open-ID provider to allows access to certain limited
          (i.e username, gender, location etc) information about your account with them, please click on <b>"Allow"</b> for this option to work. We do not collect more information
          than what's necessary for Votecheck registration <em><a href="#reg_req">(see Registration Requirements below)</a></em> and we take confidentiality of this information
          very seriously. Please refer to our <a href="privacy">Privacy</a> statement for more information.
        </p>
      </li>
    </ul>
  </div>

  <h3 class="bld" name="reg-req"> Registration Requirements</h3>
  <div >
    During the sign up process you will be requested for the following information in addition to the username and password (username and password are not necessary if you are
    using the Open-ID option).
    <ul>
      <li>Gender</li>
      <li>Age</li>
      <li>Zip</li>
    </ul>
    This information is required for the registration process. It allows us to analyze the votes and provide more insightful information about the trends associated with the Vote
    Topic. This information is never shared or shown on Votechek. Please refer to our <a href="privacy">Privacy</a> statement for more information.
  </div>

  <h3 class="bld" name="avataar">
    How do I create an avataar?
  </h3>
  <div>
    You can upload a picture that will be used as an avataar. This upload can be done during the sign up process or afterwards from your profile page.
    Your avataar, username and Voting Power will be displayed through the Votechek website.

    If you are using your Facebook/Twitter/Google or Yahoo account your avataar with those accounts will be used.
  </div>

  <h3 class="bld" name="after_open">What can I do after opening an account?</h3>
  <div >
    You are now ready to start votes and vote!
    <ul>
      <li>
        <span class="bld">How can I start a vote?</span>
        <p>Before you start a vote browse votes posted by other users in the community. You might be able to find the same/similar vote.
          If not, simply click on the <span class="bld">"New Vote"</span> link on the toolbar at the top of the page. Every new vote requires a topic and at least two options
          for users to vote on. Once the vote is created you can preview it to insure it looks satisfactory. You will be asked to confirm and save the vote. Once the vote is saved
          it is sent to the moderator for approval and once it's approved it will be presented on Votechek to other users for voting. You will be sent an email notification when your
          vote is approved, if you have opted to receive email notifications during the sign up process. We will also send you an explanation if the Vote Topic is rejected for some
          reason or does not comply with our <a href="terms">terms</a>. Please refer to <em><a href="#not_approved">Why wasn't my vote approved</a></em> to understand why
          a vote may not be approved.
          <span class="bld clearfix">Once the vote is confirmed, saved and sent for moderator approval, it can not be edited, so please insure the Vote looks satisfactory before
            you do so!</span>
          <span class="bld clearfix">A vote once approved is open for voting for 2 weeks. After that the vote is closed for voting, but is available to browsing.! See
            <a href="#engage">Tips for engaging your voters</a>, for more information on how to get most possible attention from voters in the community.
          </span>
        </p>
      </li>
      <li>
        <span class="bld">How can I browse votes?</span>
        <ul>
          <li>
            At the <%= link_to "Home Page", root_path %> you can see votes organized in as "Featured", "Local",
            "Hot Trends", "Most Tracked", "Recent" etc. Simply click on the vote topic link to view the vote in detail.
          </li>
          <li>You can also use the search feature to search for votes.</li>
          <li>The "Vote" link in the main navigation bar shows a listing of all votes.</li>
          <li>You can click on a user's username link to view all votes started by that user.</li>
          <li>The Category link and sidebars link to votes organized by category</li>
        </ul>
      </li>
      <li class="bld">
        How to Vote?
      </li>
      <p>
        Click on a vote topic link and go to the vote's main page. Here you can see the current status of the vote and a detailed analysis of the vote. In this page, you can click on
        a vote option and submit your vote.
        <br/>
        <strong>You need to have an account with complete registration and logged in in order to be able to vote. </strong>
      </p>
      <li class="bld">
        Can I change a vote?
      </li>
      <p>
        If you have a change of heart you can cancel your vote and vote on another option. You loose the Voting Power by canceling your vote, however, you can gain it back
        by voting again on the same or another option.
      </p>
    </ul>
  </div>

  <%= render :partial => 'voting_power' %>

  <h3 class="bld" id="tracking_faq">Tracking</h3>
  <div class="" id="">
    Tracking a Vote Topic is similar to adding it to your favorites. Tracking is an easy to follow a Vote or create a list of Vote Topics you voted on.

    You can track any Vote Topic by clickin on the <a href="#tracking_faq"><span class="ui-icon ui-icon-heart"></span>Track</a> link.
    This will add the Vote Topic to your tracking list and you can see this list from your profile page and the home page.

    You can click on the <a href="#tracking_faq"><span class="ui-icon ui-icon-heart"></span>UnTrack</a> link to remove the Vote Topic from your tracking list.
  </div>
  
  <h3 class="bld" name="engagement">Tips for engaging your voters</h3>
  <div>
    <ul>
      <li>
        Make your vote topics interesting! Short, concise and clear topics will be easier to understand and vote on.
        Provide additional details or links when possible and applicable.
      </li>
      <li>
        Invite your friends to vote! You can invite your friends by providing their email while creating a vote. We will send an email notificaiton to your friends, with a link
        to the vote you started, so that they can join and vote!
      </li>
      <li>
        Use the facebook and twitter post functionality to let your friends know about the vote.
      </li>
      <li>Accumulate Voting Power by voting and posting new vote topics often. You can use the Voting Power while creating new Vote Topics to promote your vote
        to the Featured Votes list. Featured votes award Voting Power to your voters.
      </li>
    </ul>
  </div>

  <h3 class="bld" name="not_approved">Why wasn't my vote approved?</h3>
  <div>
    The moderator may not approve a Vote if it violates the <a href="terms" class="" id="">
      terms</a> of use of Votechek. You will be sent a notification when if this happens, if you have opted to receive
    email notifications. You can also check the status of your vote in your profile page by clicking on the "Profile" link on the main navigation menu.
  </div>

  <h3 class="bld">How do we analyze the votes?</h3>
  <div>
    Votes are recorded and the counts are tallied as soon as you vote. The vote counts presented on a Vote Topic page are real time. We also periodically analyze the vote to
    provide additional insights about a Vote Topic. This information appears in the Vote Topic page, in the "About the voters" section.
  </div>

  <h3 class="bld" name="spam">
    What is considered spam?
  </h3>
  <div>
    Vote Topics, Why explanations are considered spam when it is obvious that someone is trying to promote a product or a website through posting a question or answer.
    If a relevant website is posted with a genuine question (for example in the "details" field), the Vote will be kept active.
    Similarly, a "why explanation" can contain a website that directly addresses the question. However, if the same link is submitted multiple times,
    mostly to questions for which it is irrelevant, or it links to a spam site, the answer will be considered spam and removed.
  </div>

  <h3 class="bld" name="offtensive">What is considered offensive?</h3>
  <div>
    Generally, anything that couldn't be shown on U.S. broadcast television is considered offensive. This includes anything you post on the site, including questions,
    answers, comments, user profile information, links, avatars and usernames. While we encourage you to express yourself freely, this cannot impinge upon others'
    right to a positive Votechek experience.

    Questions on the this site must be appropriate for users aged 14 and above.Question context and category factors in as well: Some questions that might be
    offensive in one category can be appropriate in another.For example, you can talk about sex in the Relationship Advice category but not Kids, or you can use
    profanity in Word Origins, but usually not elsewhere.


    Here are some general guidelines for offensive content.

    <ul class="" id="">
      <li>
        The content doesn't meet the broadcast TV rule of thumb.
      </li>
      <li>
        An individual user is being attacked.
      </li>
      <li>
        The question is intended to be malicious or hurtful, in the opinion of site moderators.
      </li>
    </ul>
    <p>
      Sometimes opinions may seem offensive, and some questions are intended to challenge the way others think. We tend to be careful about censoring these types of questions,
      and err on the side of preserving content. Within the larger goal of preserving a useful and harmonious community, we believe in people's right to speak their mind, and
      we have found that allowing questions that may seem offensive can lead to very thought-provoking discussions about why the question is or is not offensive.
      We recognize that this is a fine line and can involve some very tough judgment calls. If you feel that a flag was accepted or rejected erroneously, let us know by clicking
      the "Contact Us" link at the bottom of the page and submitting the details in your description. Be sure to include a link to the question and why you think the
      acceptance/rejection was erroneous.
    </p>
  </div>
</div>