
<%= page_entries_info @search_results, :entry_name => "Search Result" %>
<%= will_paginate @search_results %>
<% if !@search_results.nil? %>
  <ul>
    <% @search_results.each do |s| %>
      <li><%= s.header %></li>
    <% end %>
  </ul>
<% end  %>
<%= will_paginate @search_results %>