<div class="span-18 last rel-pos">
  <div id="com_prog_loading" style="display:none">
    <div class="loading-inner-top" ></div>
  </div>
  <div id="search_results">
    <%= render :partial => 'search_results' %>
  </div>
</div>
