<div class="span-18 last rel-pos">
  <h4 class="normal-pad ui-widget-header prepend-top append-bottom"><%= get_search_context(request.parameters) %></h4>
  <div id="search_results">
    <%= render :partial => 'search_results', :locals => {:paginate => true} %>
  </div>
</div>
