<div class="span-18 last rel-pos">
  <div id="com_prog_loading" style="display:none">
    <div class="loading-inner-top" ></div>
  </div>
  <h3 class="normal-pad ui-widget-header prepend-top append-bottom">Results for &quot;<%= @search_context %>&quot;</h3>
  <div id="search_results">
    <%= render :partial => 'search_results' %>
  </div>
</div>
