<div class="prepend-top span-18 last">
  <% if current_role == 'admin' %>
    <ul class="" id="">
        <li>
          <%= link_to "Not Approved Votes", not_approved_votes_account_path %>
      </li>
      <li>
        <%= link_to "Not Approved Comments", not_approved_comments_account_path %>
      </li>
      <li>
        <%= link_to "Daily Comments", daily_comments_account_path %>
      </li>
    </ul>
  <% end  %>
</div>