<div class="main-header" id="">
  <div class="header" >
    <div class="last span-24 header_logo_div "> <!-- header logo -->
      <div class="span-10">
        <div class="span-10">
          <%= link_to "", root_path, :class => "go-left logo-image sprite"%>
        </div>
        <div class="span-10">
          <span class="logo_msg small go-left"><%= t 'site_logo_msg' %></span>
          <a href="intro-prezo-trig" class="go-left small special-text bld" id="" rel="#intro_prezo">
            <%= t ('site_learn_more') %>
          </a>
        </div>
      </div>
    </div>
    <!-- <sup>&trade;</sup> -->
  </div>
</div>