<div class="main-header" id="">
  <div class="header" >
    <div class="header_links_div top-mar "> <!-- header logo -->
      <div class=".logo-holder">
        <%= link_to "", root_path, :class => "go-left logo-image sprite"%>
      </div>
    </div>
  </div>
  <!-- <sup>&trade;</sup> -->
</div>