<% if !flash.nil? %>
  <% if flash[:notice] %>
    <div class ="notice" id ="notice"><%= flash[:notice] %></div>
  <% end  %>
  <% if flash[:success] %>
    <div class ="success" id ="success"><%= flash[:success] %></div>
  <% end  %>
  <% if flash[:error] %>
    <div class ="error" id ="error"><%= flash[:error] %>
    </div>
  <% end  %>
<% end  %>
