<div class="footer">

  <div class="span-24" id="" style="width:950px;margin:0 auto;">
    <ul class="footer_links">
      <li>
        <a href="/faq" class="" id="">
          FAQ
        </a>
      </li>
      <li>
        <a href="/disclaimer" class="" id="">
          Disclaimer
        </a>
      </li>
      <li>
        <a href="/terms" class="" id="">
          Terms of Use
        </a>
      </li>
      <li>
        <a href="/privacy" class="" id="">
          Privacy Policy
        </a>
      </li>
      <li>
        <a href="/contact" class="" id="">
          Contact Us/Feedback/Suggestions
        </a>
      </li>
      <li>
        <a href="/about" class="" id="">
          About Us
        </a>
      </li>
    </ul>
  </div>
</div>
