<div class="span-6 last  prepend-top ui-state-default">
  <h6 class="ui-widget-header bottom-mar"><%= header %></h6>
  <%users.each do |r|  %>
    <table style="width:40%">
      <tr>
        <td rowspan="2">
          <%= get_user_icon(r)%>
        </td>
        <td><%= r.username %></td>
      </tr>
      <tr>
        <td><%= r.voting_power %></td>
      </tr>
    </table>
  <% end  %>
</div>