<div class="span-6 last  prepend-top ui-state-default">
  <h6 class="ui-widget-header bottom-mar"><%= header %></h6>
  <ul class="list-no-pad-no-style-close sidebox-list-inline">
    <%users.each do |r|  %>
      <li>
        <% if !missing_user_image?(r) %>
        <img src="<%= r.image.url(:small) %>" class="profile-image" alt="<%= r.username %>"/>
          <%#=image_tag r.image.url(:small), :class => 'profile-image'%>
        <% end  %>
        <%#= link_to "#{r.username}(#{r.votes_count} votes)", r %>
      </li>
    <% end  %>
  </ul>
</div>