<div class="span-6 last  prepend-top ui-widget-content">
  <ul class="list-no-pad-no-style-close sidebox-list">
    <li class="ui-widget-header"><%= header %></li>
    <%votes.each do |r|  %>
      <li><%= link_to truncate(r.header, :length => Constants::SIDE_BAR_LINK_LENGTH, :omission => '...'), r %></li>
    <% end  %>
  </ul>
</div>