$("#tracking").html("<span class='ui-icon ui-icon-heart'></span><a href='<%= tracking_path(@t, :vt_id => request.parameters[:vt_id]) %>' id='track_link' class='untrack'>Untrack</a>");
$('.tracking-count').html("<%= Rails.cache.fetch("vt_tracking_#{request.parameters[:vt_id]}") do VoteTopic.find(request.parameters[:vt_id]).trackings_count end %> trackings");
<%= render :partial => 'layouts/flash_js_msg' %>