$("#tracking").html("<span class='ui-icon ui-icon-heart'></span><a href='<%= trackings_path(:vt_id => request.parameters[:vt_id])%>'  id='track_link' class='track' >Track</a>");
<%=  render :partial => 'layouts/flash_js_msg' %>