<% if all %>
  <% path = get_main_graph @vote_topic %>
  <div class="simpleSlide-slide" rel="ss" style="height: 338px; width: 600px;">
    <% if !path.nil? %>
      <%= image_tag get_main_graph @vote_topic %>
    <% else %>
      <p>Processing Image</p>
    <% end  %>
  </div>
  <% paths = get_other_graphs(@vote_topic) %>
  <% paths.each do |v| %>
    <div class="simpleSlide-slide" rel="ss" style="height: 450px; width: 600px;">
      <%= image_tag v %>
    </div>
  <% end  %>
<% else %>
  <% paths = get_other_graphs(@vote_topic) %>
  <% paths.each do |v| %>
    <div class="simpleSlide-slide" rel="ss" style="height: 450px; width: 600px;">
      <%= image_tag v %>
    </div>
  <% end  %>
<% end  %>
