<% if @selected_response %>
  <ul class="top-mar vi-list" id="vote_items_list_unvoted" style="display:none">
  <% else %>
    <ul class="top-mar vi-list" id="vote_items_list_unvoted">
    <% end  %>
    <%@vote_topic.vote_items.each do |v| %>
      <li id="v-item-<%= v.id %>" class="non-sel option-list">
        <a href="#" id="<%= v.id %>" class="vote take-action">
          <span class="ui-icon-check ui-icon vote-icon" ></span>
          <%= v.option.titleize %>
        </a>
      <% end  %>
    </li>
    <li class=" no-style-no-border "><span class="go-right small-pad ui-widget-content">Vote to see results</span></li>
  </ul>
