<ul class="top-mar vi-list" id="vote_items_list_unvoted">
  <%@vote_topic.vote_items.each do |v| %>
    <li id="v-item-<%= v.id %>" class="loud">
      <a href="#" id="<%= v.id %>" class="vote normal">
        <span class="sprite check right-mar" ></span>
        <%= v.option %>
      </a>
    <% end  %>
  </li>
</ul>
