<div id="div_process_vote">
  <ul class="list_no_pad_no_style top-mar">
    <% @vote_topic.vote_items.each do |v| %>
      <li class="ui-widget-content">
        <span class="ui-icon ui-icon-document list-icon"></span><%= (get_vote_percent v, @vote_topic.total_votes) %>
      </li>
    <% end %>
    <li>
      <span class=small-button><%= link_to "Login to Vote", login_path, :id => 'vote_login_link' %></span>
    </li>
  </ul>
</div>