<ul class="top-mar list-no-pad-no-mar " id="vote_items_list">
  <%@vote_topic.vote_items.each do |v| %>
    <li >
      <%= v.option.titleize %>
    </li>
  <% end  %>
  <li class="no-style-no-border" style="padding-bottom:1em;"><span class="go-right">Vote to see results</span></li>
</ul>
