<ul class="top-mar list-no-pad-no-mar " id="vote_items_list">
  <%@vote_topic.vote_items.each do |v| %>
    <li >
      <%= v.option.titleize %>
    </li>
  <% end  %>
  <% if !current_user %>
    <li class="no-style-no-border right " ><%= link_to "Login to Vote/See Results", login_path, :class => 'normal-pad ui-state-default' %></li>
  <% elsif current_user && !registration_complete? %>
    <li class="no-style-no-border right " ><%= link_to "Complete Registration to Vote/See Results", edit_user_path(current_user), :class => 'normal-pad ui-state-default'%></li>
  <% end  %>
</ul>
