<ul class="top-mar  " id="vote_items_list">
  <%@vote_topic.vote_items.each do |v| %>
    <li class="loud small">
      <%= v.option %>
    </li>
  <% end  %>
  <% if !current_user %>
    <li class="no-style-no-border right bld small " ><%= link_to "Login to Vote/See Results", login_path, :class => '' %></li>
  <% elsif current_user && !registration_complete? %>
    <li class="no-style-no-border right " ><%= link_to "Complete Registration to Vote/See Results", edit_user_path(current_user), :class => 'normal-pad ui-state-default'%></li>
  <% end  %>
</ul>
