
<div id="pic_loading_g" style="opacity:0"></div>
<div class="chart-container">
  <%= @p_chart.js_open_flash_chart_object("chart", Constants::LARGE_GRAPH_WIDTH, Constants::LARGE_GRAPH_HEIGHT_16_9) %>
</div>


<%#= @p_chart.link_to_ofc_load("Pie", "chart") %>
<%= @p_chart.link_to_remote_ofc_load("Pie", "chart", url_for(:controller => :graphs, :action => :pie_graph, :id => @vote_topic.id)) %>
<%= @p_chart.link_to_remote_ofc_load("Age", "chart", url_for(:controller => :graphs, :action => :age_graph, :id => @vote_topic.id)) %>
<%= @p_chart.link_to_remote_ofc_load("Gender", "chart", url_for(:controller => :graphs, :action => :gender_graph, :id => @vote_topic.id)) %>

