<div class="span-18 last">
  <div class="normal-pad ui-widget-content right-mar append-bottom">
    <h4 class="ui-widget-header normal-pad"><%= t('vote_topic.new.header') %></h4>
    <p class="bld">
      Create a vote on any topic and see what people think. Don't forget to invite your friends to participate.
    </p>
    <%= render :partial => "form" %>
  </div>
</div>
