<script type="text/javascript">
  //<![CDATA[
  $(document).ready(function() {
  });
  //]]>
</script>

<div id="vote_list" class="rel-pos span-18 last">
  <div id="votes">
    <%= render :partial => 'vote_list', :locals => {:what_listing => get_listing_str(request.parameters)} %>
  </div>
</div>
<% content_for :right_nav do %>
  <%= render :partial => "/shared/vote_side_bar_widget", :locals => {:header => "Categories", :load_path =>
      categories_path(:type => "category_all"), :l_type => "category_all", :first => true} %>
  <%= render :partial => "/shared/vote_side_bar_widget", :locals => {:header => "Latest", :load_path =>
      side_bar_index_vote_topics_path(:type => "latest"), :l_type => "latest", :first => false} %>
  <%= render :partial => "/shared/vote_side_bar_widget", :locals => {:header => "Top Voters", :load_path =>
      top_voters_users_path(:type => "top_voters"), :l_type => "top_voters", :first => false} %>
<% end %>
