<script type="text/javascript">
  //<![CDATA[
  $(document).ready(function() {
  });
  //]]>
</script>

<div id="vote_list" class="rel-pos span-18 last">
  <div id="com_prog_loading" style="display:none">
    <div class="loading-inner-top" ></div>
  </div>
  <div id="votes">
    <%= render :partial => 'vote_list' %>
  </div>
</div>
<% content_for :right_nav do %>
  <%= render :partial => '/layouts/category_side_bar' if @listing_type == 'all' %>
  <%= render :partial => "/home/latest_votes" %>
  <%= render :partial => "/home/top_voters" %>
<% end %>
