
<div class="span-16 last normal-pad ui-widget-content">
  <h4 class="ui-widget-header normal-pad"><%= t('vote_topic.new.header') %></h4>
  <p>
    Create a vote on any topic you like.
  </p>
  <%= render :partial => "form" %>
</div>
