<% if @tracked %>
  $j('#tracking').html("<span class='ui-icon ui-icon-heart'></span><a href='<%= track_user_posted_vote_topic_path(@user, @vote_topic, :untrack => true) %>' id = 'track_link' >Untrack</a>");
<% else %>
  $j('#tracking').html("<span class='ui-icon ui-icon-heart'></span><a href='<%= track_user_posted_vote_topic_path(@user, @vote_topic) %>' id = 'track_link' > Track</a>");
<% end  %>